name: Docs
on:
  pull_request:
    types: [synchronize, edited, opened]
  push:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install Dependencies
        working-directory: schema-ui
        run: npm install
      - name: Build Project
        working-directory: schema-ui
        run: npm run build
      - name: Install Poetry
        run: pipx install poetry
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: poetry
      - name: Install Environment
        run: make setup
      - name: Build Documentation
        run: make html/fast
      - name: Archive Documentation
        run: make archive/fast
      - name: Upload Archive
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: github-pages
          path: ${{github.workspace}}/cps-docs.tar
  deploy:
    if: github.event.repository.default_branch == github.ref_name
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment
